/* Styling for the access admin cards */
.custom-card {
  background-color: white;
  border: 5px solid transparent; /* Default border is transparent */
  border-radius: 0; /* Sharp corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 255, 0.1); /* Blue shadow */
  padding: 5% 0% !important;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  cursor: pointer; /* Pointer on hover */
}

/* Card hover effect */
.custom-card:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 255, 0.2); /* Deeper blue shadow */
  transform: scale(1.05); /* Slight scaling */
}

/* Default text and icon colors */
.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.card-icon {
  font-size: 70px;
  transition: color 0.3s ease;
}

/* Specific card styles */
.access-admin-page-card-rules .card-title,
.access-admin-page-card-rules .card-icon {
  color: #dc3545; /* Red */
}

.access-admin-page-card-designation .card-title,
.access-admin-page-card-designation .card-icon {
  color: #007bff; /* Blue */
}

.access-admin-page-card-department .card-title,
.access-admin-page-card-department .card-icon {
  color: #28a745; /* Green */
}
.access-admin-page-card-approve .card-title,
.access-admin-page-card-approve .card-icon {
  color: #6f00ff; /* Green */
}

/* Hover effects */
.access-admin-page-card-rules:hover {
  background-color: #dc3545; /* Red background */
}

.access-admin-page-card-rules:hover .card-title,
.access-admin-page-card-rules:hover .card-icon {
  color: white;
}

.access-admin-page-card-designation:hover {
  background-color: #007bff; /* Blue background */
}

.access-admin-page-card-designation:hover .card-title,
.access-admin-page-card-designation:hover .card-icon {
  color: white;
}

.access-admin-page-card-department:hover {
  background-color: #28a745; /* Green background */
}
.access-admin-page-card-approve:hover {
  background-color: #8a31ff; /* Green background */
}

.access-admin-page-card-department:hover .card-title,
.access-admin-page-card-department:hover .card-icon {
  color: white;
}
.access-admin-page-card-approve:hover .card-title,
.access-admin-page-card-approve:hover .card-icon {
  color: white;
}

/* Styles for the container */
.access-admin-page {
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  padding: 7% 2% !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .custom-card {
    padding: 5%;
    height: 200px;
  }

  .card-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .custom-card {
    padding: 3%;
    height: 250px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-icon {
    font-size: 80px;
  }
}
